*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.white{
  color: rgb(255, 255, 255);
}

header{
  background-color: #0d325a;
  height: 500px
}

.margini{
  width: 85%;
  margin: auto;
}

.header{
  padding-top: 20px;
}

.block1{
  float: left;
  width: 15%;
}

.block2{
  float: left;
  width: 50%;
  padding-top: 1.2%;
}

.block3{
  float: left;
  width: 35%;
  padding-top: 1.5%;
}

.block3 p{
  display: inline-block;
  font-weight: bold;
}

.block3 p:first{
  opacity: 0.3;
}

nav li{
  display: inline-block;
  margin-left: 1%;
  font-size: 12px;
  font-weight: bold;
}

.block2 a{
  color: white;
  text-decoration: none;
}

.textnav{
  font-size: 11px;
  display: inline-block;
}

nav span.textnav{
  color: rgba(255, 255, 255, 0.5);
}

#login{
  padding: 8px 20px;
  border: 1px #4e8cb6 solid;
  border-radius: 5px;
  margin-left: 3%;
  font-weight: bold;
}

.piano{
  padding: 8px 5px;
  background-color: #7fb802;
  border-radius: 5px;
  margin-left: 10px;
}

.big{
  display: inline-block;
  font-size: 15px;
  margin-left: 0;
  margin-top: 30px;
  padding: 8px 25px;
}

.headerblue{
  width: 50%;
  font-size: 20px;
  padding-top: 160px;
}


/* CENTRO */



.banner{
  text-align: center;
  padding: 40px 20px 40px 20px;
  background-color: #f9f9f9;
}

.banner2{
  background-color: #f9f9f9;
  width: 100%;
  content: "";
  display: table;
  clear: both;
}

.riga{
  width: 33.3%;
  float: left;
  display: block;
  text-align: center;
  position: relative;
  padding-top: 30px;
  padding-bottom: 50px;
}

.img{
  height: 180px;
}

h2{
  color: #7fb802;
  font-size: 20px;
  padding: 40px 0 20px 0;
}

.riga hr{
  opacity: .3;
  width: 32px;
  border: 1px solid;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
}

h2#centro{
  padding-bottom: 40px
}

.riga p{
  opacity: 0.4;
  padding: 20px;
}

section{
  content: "";
  display: table;
  clear: both;
}

body hr{
  border: 0.5px rgba(0, 0, 0, 0.2) solid;
  margin: 0 15px;
}

.livello{
  content: "";
  display: table;
  clear: both;
  height: 600px;
}

.imgterzo{
  width: 60%;
  float: left;
  padding: 90px 0 0 40px;
}

.imgterzo img{
  width: 417px;
  height: 354px;
}

.terzo{
  width: 40%;
  float: right;
  padding: 140px 0 0px 0;
}

.terzo h3{
  font-size: 30px;
  font-weight: normal;
  line-height: 40px;
}

.terzo p{
  padding: 20px 0 5px 0;
}

.due{
  float: left;
  width: 50%;
  text-align: left;
  margin: auto;
  padding: 30px 0;
}

.due p{
  font-size: 30px;
  font-weight: bold;
  opacity: 0.7;
}

.sono{
  float: right;
  width: 50%;
  padding: 30px 0;
}

.sono form{
  display: inline;
}

select {
  width: 35%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.sono span:first-child{
  padding-right: 10%;
  font-size: 25px;
  opacity: 0.3;
  font-weight: bold;
}

.piano2{
  padding: 8px 5px;
  background-color: #7fb802;
  border-radius: 5px;

}

.piano2 a{
  text-decoration: none;
}

.banner2 button{
  margin-left: 3%;
  font-size: 20px;
}


/* FOOTER */

footer{
  width: 100%;
  background-color: #17406b;
  content: "";
  display: table;
  clear: both;
  padding-bottom: 50px;
}

.fq{
  padding: 40px 0 40px 30px;
  color: white;
  background-color: #0f335a;
}

.fq a{
  color: #f0ad4e;
}

.fq h3{
  font-size: 30px;
  font-weight: normal;
  padding-bottom: 5px;
}

.fq p{
  opacity: 0.5;
  font-size: 17px;
}

.left{
  float: left;
  width: 50%;
}


h6{
  padding: 60px 0 10px 0;
  font-size: 15px;
}

footer ul{

}

footer li{
  list-style-type: none;
  padding: 8px 0;
  opacity: 0.5;
}

footer a{
  color: white;
  text-decoration: none;
}

.right{
  float: left;
  width: 35%;
}

.right h2{
  color:rgb(255, 255, 255);
  padding-top: 70px;
  text-align: right;
}

.right h3{
  text-align: right;
  padding-top: 15px;
}

.right p{
  text-align: right;
  padding-top: 35px;
  opacity: 0.4;
  line-height: 25px;
}
